<p style="color: green"><%= notice %></p>

<h1 class="pb-5">
  Users
</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>

<%= render partial: 'shared/debug_view' %>